@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Email Confirmed";
}

<h3>Thank you for confirming your email. You may now login to the account</h3>