@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model User
@{
    ViewData["Title"] = "Register";
}

<form method="post">
    <div class="border p-3" style="margin: auto; width: 50%">
        <div class="row pb-2">
            <h2 class="text-primary">Create User</h2>
            <hr />
        </div>
        <div class="row pb-2">
            @ViewBag.Message
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PasswordHash">Password</label>
            <input asp-for="PasswordHash" class="form-control" type="password" />
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to Home
        </a>
    </div>
</form>
