@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Doctor
@{
    ViewData["Title"] = "Edit a Doctor";
}

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Update Doctor Information</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="DoctorName"></label>
            <input asp-for="DoctorName" class="form-control" />
            <span asp-validation-for="DoctorName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Contact"></label>
            <input asp-for="Contact" class="form-control" />
            <span asp-validation-for="Contact" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Department"></label>
            @Html.DropDownListFor(doctor => doctor.DeptRefId, 
                                  new SelectList(ViewBag.message,"DepartmentId","DepartmentName"),
                                  "---Select Department---",
                                   new { @class="form-control" })
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Doctor" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>