@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @{
        var HospitalName = Configuration.GetValue<string>("HospitalName");
    }
    <h1><b>@HospitalName Hospital</b></h1>
    <h3 class="display-5">Welcome to Hospital Management System <br /></h3>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

    <h4>Please click one of the above links to get started.</h4>
</div>
